/*page*/

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18pt;
    background-color: #3b08d0;
    text-align: center;
    padding: 0px;
    margin: 0;
}

* { color:#fff; 
    text-decoration: none;}
    
#header h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 45pt;
    color: #FFFFFF;
    padding-top: 5px;
    margin: 0;
    font-weight:500;
    text-align: center;
    letter-spacing: 1.5px;
    z-index:2;
}
    
/*main section*/

.fwh-main {
    height: 100vh;
    background: #3b08d0;
    box-sizing: border-box;
    margin: 0;
    
}


/*menu icon*/

#menu{
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 8%;
    left: 87%;
    transform: translateX(-50%) translateY(-50%)
}

.menutitle {
    font-size: 9pt;
    color: #FFFFFF;
    font-weight: 500;
    position: absolute;
    bottom: 60%;
 
}

.bar{
    width: 35px;
    height: 5px;
    background-color: #FFFFFF;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar{
	background-color: white;
}
.change #bar1{
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change #bar3{
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.change #bar2{
    opacity: 0;
    
}


.nav li a{
    font-size:18pt;
    font-weight: 400;
	color: #fff;
	text-decoration: none;
}
.nav li a:hover{
	font-weight: bold;
}
.nav li{
	list-style: none;
	line-height: 1.5px;
	letter-spacing:1.5px;
	position: relative;
    left: 55%;
    transform: translateX(-50%) translateY(-50%);
	
}
.nav{
	padding: 0;
	margin: 0 2px;
	transition: 0.3s ease;
	display: none;
}

.left {
  text-align: left;
}

.change{
	display: block;
	
}

/*element*/

polygon {
    fill: #d7cdc9;
    transform: scale(1.5,1.5);
    transform: translateX(-10%) translateY(25%)
}
polygon: hover {
  color: ##f36305;
}


/*fwh-motivation layout*/

.fwh-motivation {
    height: 100vh;
    background: #d7cdc9;
    box-sizing: border-box;
    margin: 0;
}

    
/*fwh-webdev layout*/

.fwh-webdev {
    height: 100vh;
    background: #3b08d0;
    box-sizing: border-box;
    margin: 0;
}

.fwh-webdev p{
        margin: 0;
}       

/*fwh-becode layout*/

.fwh-becode {
    height: 100vh;
    background: #d7cdc9;
    box-sizing: border-box;
    margin: 0;
    
}

.fwh-becode p{
        margin: 0;
}       
    
/*fwh-about layout*/

.fwh-about {
    height: 100vh;
    background: #3b08d0;
    box-sizing: border-box;
    margin: 0;
    
}

.fwh-about p{
        margin: 0;
}   

