/*page*/

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18pt;
    background-color: #3b08d0;
    padding: 10px;
    margin: 0;
}

#header h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 44pt;
    color: #FFFFFF;
    padding-top: 5px;
    margin: 0;
    font-weight:500;
    text-align: center;
    letter-spacing: 1.5px;
}

/*menu icon*/

.container {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 8%;
    left: 87%;
    transform: translateX(-50%) translateY(-50%)
}

.menu {
    font-size: 9pt;
    color: #FFFFFF;
    font-weight: 500;
    position: absolute;
    bottom: 60%;
 
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #FFFFFF;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
