body {
    font-family: 'Poppins', sans-serif;
    font-size: 18pt;
    background-color: #3b08d0;
    padding: 10px;
    margin: 0;
}

#header p {
    font-size: 15pt;
    color: #FFFFFF;
    padding-top: 5px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

